.wrapper {
  position: relative;
  width: 100%;
}

.filter {
  background-image: url('../../asstes/images/searchicon.png');
  background-position: 20px 24px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 24px;
  padding: 20px 20px 20px 60px;
  border: 1px solid #ddd;
  margin: 40px 0;
  box-sizing: border-box;
  border-radius: 8px;
}

.filter__list {
  max-height: 280px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: absolute;
  background: #fff;
  margin-top: -40px;
}

.filter__item {
  border-bottom: 1px solid #ccc;
  padding: 16px;
  text-transform: capitalize;
}