.filter {
  background-image: url('../../asstes/images/searchicon.png');
  background-position: 20px 24px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 24px;
  padding: 20px 20px 20px 60px;
  border: 1px solid #ddd;
  margin: 40px 0;
  box-sizing: border-box;
  border-radius: 8px;
}